{% extends "layout.html" %}

{% block header %}
    <header class="bg-dark bg-gradient text-white p-5">
        <div class="container px-1 text-center">
            <h1 class="fw-bolder display-3">{% block title %}Sobre Mi{% endblock title %}</h1>
        </div>
    </header>
{% endblock header %}

{% block content %}

    <p class="lead mb-5">
        Hola, mi nombre es Nelson Gabriel Quispe, apasionado por la programación y el aprendizaje constante. Recientemente completé un curso de Python en Coderhouse y este proyecto es mi trabajo final. En él, he implementado un CRUD, registro de usuarios y permisos para demostrar mis habilidades y conocimientos adquiridos durante el curso. Estoy emocionado de compartir mi trabajo contigo y espero que lo disfrutes tanto como yo disfruté creándolo.
    </p>

    {% url 'home:index' as url %}
    {% include 'index_back.html' with link=url %}
{% endblock content %}